.area {
  padding: 30px;
  background: #fff;
  height: 150px;
  border-radius: 15px;
  border: 2px solid rgb(186, 182, 182);
  margin-bottom: 40px;
  box-shadow: 10px 10px 10px rgb(0,0,0, 0.6);
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}